/* src/components/maps/MapView.css */

.mv-container {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

/* Mini map */
.mv-container.mini {
  height: 300px; /* altura más elegante */
  border: 1px solid #ddd;
  border-radius: 14px;
}

/* Full map (modal) */
.mv-container.full {
  width: 100%;
  height: 100%;
}

.mv-map {
  width: 100%;
  height: 100%;
}

/* Botón para expandir */
.mv-expand-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 8px 14px;

  z-index: 5000;

  background: rgba(251, 133, 23, 0.9);
  border: 2px solid #000000;
  border-radius: 20px;

  font-size: 13px;
  font-weight: 400;
  cursor: pointer;

  backdrop-filter: blur(3px);
}

.mv-expand-btn:hover {
  background: rgb(240, 162, 102);
}

/* ---------- marcador verde (divIcon) ---------- */
/* wrapper por si hace falta */
.custom-div-icon-wrapper {
  background: transparent;
  border: none;
  box-shadow: none;
}

/* la burbuja verde */
.zf-div-marker {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #28a745; /* verde */
  border: 2px solid #fff;
  box-shadow: 0 2px 6px rgba(40,167,69,0.35);
  transform: translateY(-4px);
}

/* Opcional: hacer el popup del marker verde ligeramente destacado */
.leaflet-popup-content-wrapper {
  border-radius: 8px;
}
.ph-div-marker {
    width: 20px;
    height: 20px;
    background-color: #007bff; /* azul */
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    display: inline-block;
}
