/* Reset y tipografía global */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Helvetica, Arial, sans-serif;
  background: linear-gradient(180deg,#121620,#263141);
  color: #dbe9f8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Contenedor principal para páginas normales */
.main-content {
  min-height: 100vh;
}

/* Contenedor para páginas con navbar */
.with-navbar {
  padding-top: 65px;
  min-height: calc(100vh - 65px);
}
